* {
	box-sizing: border-box;
}

body {
/*	min-height: 3000px;*/
	font-family: 'Roboto', sans-serif;
	background-image: url('/images/back2.png');
}

h1 {
	font-size: 22px;
	color: #3a3e3f;
	font-weight: bold;
	margin: 15px 0px;	
}

h2 {
	font-size: 20px;
	color: #6f7172;
	font-weight: bold;
	margin: 15px 0px;
}

h3 {
	font-size: 18px;
	color: #3a3e3f;
	font-weight: bold;
	margin: 15px 0px;
}

h4 {
	font-weight: 18px;
	color: #f47f66;
	font-weight: bold;
	margin: 15px 0px;
}

h5 {
	font-size: 14px;
	color: #959595;
	font-style: italic;
	margin: 15px 0px;
}

h6 {
	font-size: 14px;
	color: #959595;
	font-style: italic;
	margin: 15px 0px;
}

p {
	font-size: 14px;
	color: #656565;
	line-height: 25px;
}

a {
	text-decoration: none;
}

.page-header {
	margin-top: 30px;
	text-align: center;
}

/*///////////////////////////////////////////////////////////////HEADER/////////////////////////////////////////////*/

header {
	height: 44px;
	width: 100%;
	background-image: url('/images/back1.png');
}

.header:after, .row-3:after, .footer-socials:after {
	content: "";
	clear: both;
	display: block;
}

.logo {
	float: left;
	height: 44px;
	width: 369px;
	cursor: pointer;
}

.menu a {
	float: left;
	color: white;
	height: 44px;
	padding: 12px 10px 10px 30px;
}

.menu a:hover {
	color: grey;
}

.subHeader {
	height: 48px;
	border-bottom: 5px solid #b4b4b3;	
}

/*///////////////////////////////////////////////////////////////MAIN///////////////////////////////////////////////*/

.container {
	width: 1300px;
	margin: 0 auto;
}

.row {
	min-height: 2515px;
}

.row:after, .col-left:after, .col-right:after {
	content: "";
	clear: both;
	display: block;
}

.col-left {
	float: left;
	width: 60%;
}

.socials {
	width: 42px;
	height: 190px;
	background-color: #f37a5e;
	position: fixed;
	margin: 160px 0px 0px -142px;
}

[class*="main-"] {
	height: 25%;
	background-repeat: no-repeat;
	background-position: center;
	border-bottom: 1px solid #c94632;
	border-right: 1px solid #c94632;
	cursor: pointer;
}

.main-facebook {
	background-image: url('/images/facebook.png');
	background-size: 30px;
	border-top: 1px solid #c94632;
}

.main-instagram {
	background-image: url('/images/instagram.png');
	background-size: 25px;
}

.main-twitter {
	background-image: url('/images/twitter.png');
	background-size: 30px;
}

.main-tumblr {
	background-image: url('/images/tumblr.png');
	background-size: 35px;
}

.col-left-main {
	width: 80%;
	float: left;
}

.col-right {
	width: 40%;
	float: left;
}

.news-image {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 10px solid white;
	margin: 80px 0px 0px 0px;
}

.news-text {
	background-image: url('/images/back.png');
	padding: 35px 45px 0px 35px;
	height: 290px;
}

.news-facebook, .news-twitter {
	position: absolute;
	background-color: #f26c4f;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-position: center;
	cursor: pointer;
}

.news-facebook {
	margin: 270px 0px 0px 40px;
	background-image: url('/images/facebook_link.png');
}

.news-twitter {
	margin: 330px 0px 0px 40px;
	background-image: url('/images/twitter_link.png');
}

.sidebar {
	position: relative;
	margin: 80px 0px 0px 0px;
	float: left;
	height: 850px;
	width: 65%;
	border: 25px solid #fefefe;
	border-left: 35px solid #fefefe;
	background-color: #fefefe;
}

.enter {
	margin-top: 35px;
}

.subscribe {
	position: absolute;
}

main input[type=email] {
	position: absolute;
	height: 52px;
	width: 270px;
	padding-left: 10px;
	border-radius: 10px;
	font-size: 16px;
}

input[type=submit] {
	position: relative;
	margin: 5px 0px 0px 200px;
	height: 40px;
	width: 60px;
	border-radius: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #3a3e3f;
	border: none;
}

input[type=submit]:hover {
	color: #8f9495;
	cursor: pointer;
	border: 2px solid #8f9495;
}

.updates p {
	margin-top: 80px;
}

.recent-posts li {
	list-style-image: url('/images/li1.png');
	color: #3a3a3a;
	font-size: 14px;
}

.recent-posts li h6 {
	margin-top: 5px;
}

.popular-tags button {
	height: 35px;
	width: 80px;
	border-radius: 5px;
	color: #555555;
	font-weight: bolder;
}

.popular-tags button:nth-child(4) {
	margin-bottom: 5px;
}

.popular-tags button:hover {
	color: #6f7172;
	cursor: pointer;
}

main .advertising {
	position: absolute;
	margin: 965px 0px 0px 0px;
}

main .advertising:hover {
	cursor: pointer;
}

/*///////////////////////////////////////////////////////////////FOOTER///////////////////////////////////////////////*/

.footer {
	margin-top: 100px;
	height: 390px;
	background-color: #343434;
}

.footer p {
	color: #d6d6d6;
	font-size: 14px;
	line-height: 20px;
	width: 490px;
	padding-top: 50px;
	margin-left: 160px;
}

[class*="footer-"] {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	background-color: #f26c4f;
	float: left;
	margin-left: 15px;
	margin-top: 20px;
	cursor: pointer;
}

.footer-facebook {
	background-image: url('/images/facebook-white.png');
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 50% 40%;
	margin-left: 160px;
}

.footer-twitter {
	background-image: url('/images/twitter-white.png');
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 50% 45%;
}

.footer-instagram {
	background-image: url('/images/instagram-white.png');
	background-repeat: no-repeat;
	background-size: 28px;
	background-position: 50% 45%;
}

footer input[type=email] {
	position: absolute;
	height: 55px;
	width: 445px;
	border-radius: 10px;
	padding-left: 15px;
	font-size: 16px;
	margin-left: 515px;
	margin-top: -50px;
}

footer input[type=submit] {
	position: absolute;
	background-color: #f27356;
	border: none;
	color: #ca3c20;
	width: 60px;
	margin: -42px 0px 0px 890px;
}

footer input[type=submit]:hover {
	background-color: #ca3c20;
	color: #f27356;
	cursor: pointer;
	border: 2px solid #f27356;
}

.copyright {
	color: #646464;
	font-weight: bold;
	margin: 100px 0px 0px 160px;
}

.filter-btn, .filter-btn-active {
	position: absolute;
	padding: 0 30px 0 30px;
	height: 30px;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 50px;
	border: 2 px solid white;
	cursor: pointer;
}

.filter-btn:hover, .filter-btn-active:hover {
	background-color: white;
	color: black;
	border: 2 px solid black;
}

.first-btn {
	position: relative;
	margin-left: 10px;
}

.second-btn {
	position: relative;
}

.third-btn {
	position: relative;
}

.forth-btn {
	position: relative;
}

.categories {
	position: relative;
	padding: 60px 0 0 10px;
	font-size: 20px;
}

.invisible {
	font-size: 0px;
}